.nav-img {
  height: 5vh;
  border-radius: 0.4rem;
  border: solid lightgray 1px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  min-height: 6.5vh;
  height: 8.5vh;
  width: 100%;
  z-index: 10;
  background-color: white !important  ;
  border-bottom: solid rgba(0, 0, 0, 0.08) 1px !important;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(50vw + 300px);
}

.logoandhome {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.home-btn {
  all: unset;
  margin-left: 12px;
  padding: 0 12px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  height: 40px;
  display: flex;
  align-items: center;
  transition: all 0.5s;
  cursor: pointer;
}

.home-btn:hover {
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(0, 0, 0, 0.08);
}

.navbar-content > .brand-name {
  margin-right: 5px;
  cursor: pointer;
}

.signupandlogin {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar > .container-fluid {
  background-color: white;
  margin-right: 12px;
}

.Join-now-btn {
  text-decoration: none;
  padding: 0 12px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-right: 12px;
  max-height: 40px;
  transition: all 0.5s;
}

.Join-now-btn:hover {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.9);
}

.Sign-in-btn {
  all: unset;
  padding: 0 24px;
  cursor: pointer;
  color: rgb(10, 102, 194);
  font-size: 16px;
  max-height: 40px;
  font-weight: 600;
  border-radius: 2rem;
  box-shadow: rgb(10, 102, 194) 0px 0px 0px 1px inset;
  transition: all 0.5s;
}

.Sign-in-btn:hover {
  background-color: rgba(112, 181, 249, 0.15);
  box-shadow: rgb(10, 102, 194) 0px 0px 0px 2px inset;
}

.nav-user-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.imageandme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

.nav-profile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: all 0.5s;
}

.nav-profile:hover {
  color: black;
}

.nav-dropdown-container {
  position: absolute;
  top: 7.5vh;
  right: 0;
  z-index: 6;
  padding: 5px 0;
  background-color: white;
  width: 250px;
  border-radius: 8px 0px 8px 8px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 6px 9px rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  cursor: default;
}

.userdetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}

.nav-name {
  margin: 0;
  font-size: 20px;
  font-weight: 500;

  color: rgba(0, 0, 0, 0.9);
}

.nav-nameandjob {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.nav-jobrole {
  margin: 0;
  font-size: 16px;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.9);
}

.dropdown-profilepic {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.view-profile-btn {
  all: unset;
  padding: 0 24px;
  cursor: pointer;
  color: rgb(10, 102, 194);
  font-size: 16px;
  font-weight: 600;
  border-radius: 2rem;
  box-shadow: rgb(10, 102, 194) 0px 0px 0px 1px inset;
  transition: all 0.5s;
  text-align: center;
  margin: 7px 10px;
}

.view-profile-btn:hover {
  background-color: rgba(112, 181, 249, 0.15);
  box-shadow: rgb(10, 102, 194) 0px 0px 0px 2px inset;
}

.signout {
  border-top: solid 1px rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  cursor: pointer;
}

.signout:hover {
  text-decoration: underline;
}

.small-nav {
  display: none;
}

@media only screen and (max-width: 992px) {
  .navbar-content {
    width: 720px;
  }
}

@media only screen and (max-width: 700px) {
  .navbar-content {
    display: none;
  }

  .small-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-content {
    width: 85vw;
  }
}

@media only screen and (max-width: 576px) {
  .navbar-content {
    width: 95vw;
  }
}

@media only screen and (max-height: 650px) {
  .nav-dropdown-container {
    top: 9vh;
  }

  .nav-user-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: -5px;
  }
}
