.nav-img {
  height: 5vh;
  border-radius: 0.4rem;
  border: solid lightgray 1px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  height: 6.5vh;
  width: 100%;
  z-index: 10;
  background-color: white !important  ;
  border-bottom: solid rgba(0, 0, 0, 0.08) 1px !important;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(50vw + 300px);
}

.logoandhome {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-btn {
    all: unset;
    margin-left: 12px;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    height: 40px;
    line-height: 40px;
    transition: all 0.5s;
    cursor: pointer;
}

.home-btn:hover {
    color: rgba(0, 0, 0, 0.9);
    background-color: rgba(0, 0, 0, 0.08);
}

.navbar-content > .brand-name {
    margin-right: 5px;
    cursor: pointer;
}

.signupandlogin {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.navbar > .container-fluid {
  background-color: white;
  margin-right: 12px;
}

.Join-now-btn {
    text-decoration: none;
    padding: 0 12px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-right: 12px;
    height: 40px;
    line-height: 40px;
    transition: all 0.5s;
}

.Join-now-btn:hover {
    background-color: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.9);
}

.Sign-in-btn {
    all: unset;
    padding: 0 24px;
    cursor: pointer;
    color: rgb(10, 102, 194);
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    border-radius: 2rem;
    box-shadow: rgb(10, 102, 194) 0px 0px 0px 1px inset;
    transition: all 0.5s;
}

.Sign-in-btn:hover {
    background-color: rgba(112, 181, 249, 0.15);
    box-shadow: rgb(10, 102, 194) 0px 0px 0px 2px inset;
}

@media only screen and (max-width: 992px) {
  .navbar-content {
    width: 720px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-content {
    width: 85vw;
  }
}

@media only screen and (max-width: 576px) {
  .navbar-content {
    width: 95vw;
  }
}
