.headerOfPosts {
  display: flex;
  background-color: white;
  justify-content: space-between;
  border-radius: 30px 30px 0px 0px;
}

.userImg {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.post {
  display: flex;
  width: 100%;
  background-color: white;
  border: solid lightgray 1px;
  border-top: none;
  border-bottom: none;
  padding: 1vh 1vw;
}
.addnewpost {
  display: flex;
  background-color: white;
  border: solid lightgray 1px;
  border-radius: 0.5rem;
  padding: 1vh 1vw;
  margin-bottom: 1vh;
}
.singlePost {
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  width: 100%;
}

.postText {
  background-color: white;
}

.postImg {
  width: 100%;
  height: 50%;
}

.postImgDiv {
  display: flex;
  justify-content: center;
  background-color: white;
  border: solid lightgray 1px;
  border-top: none;
  border-bottom: none;
  box-sizing: border-box;
}

.headerText {
  margin-left: 10px;
}

h3 {
  color: gray;
}

.textandimg {
  display: flex;
}

.main-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #caccce48;
  min-height: 93.5vh;
}

.main-profile-con {
  display: flex;
  width: 70vw;
}

.header-profile-con {
  width: 50vw;
}

.recommed-users {
  width: 300px;
}

.newpostbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 20px;
  margin-left: 1vw;
  margin: 2vh 2vw;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
}

.newpostbtn:hover {
  background-color: rgba(0,0,0,0.08);
  color: rgba(0,0,0,0.6);
}

.single-post-dropdown {
  position: absolute;
  right: 0;
  z-index: 6;
  padding: 5px 0;
  background-color: white;
  width: 200px;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 6px 9px rgb(0 0 0 / 20%);
}

.single-post-dropdown > p {
  color: black;
  font-size: 18px;
  padding: 0 20px;
}

.single-post-dropdown > p:hover {
  background-color: rgba(0,0,0,0.1);
}

.dropdown-div {
  position: relative;
}

.dotdot {
  all: unset;
  margin-top: -2vh;
  margin-bottom: 2px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dotdot:hover, .dotdot:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 50vw;
  border-radius: 1rem;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.15);
}

.modal-body-header-posts {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#mainpostcontent {
  width: 100%;
  border: 0px;
  margin-top: 1.5vh;
}

.modal-body {
  padding: 1vh 2vw;
}

.modal-post-text {
  margin: 0 10px;
}

.userandname {
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 0.5rem 0.5rem 0 0 ;
  border: solid lightgray 1px;
  border-bottom: none;
  padding: 1vh 1vw;
}

.textandname {
  display: flex;
  align-items: center;
}

.dateposted {
  border-radius: 0 0 0.5rem 0.5rem ;
  border: solid lightgray 1px;
  border-top: none;
  background-color: white;
  margin-bottom: 1vh;
  padding: 0 1vw;
}

@media only screen and (max-width: 992px) {
  .main-profile-con {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 720px;
  }

  .header-profile-con {
    width: 100%;
  }
  .recommed-users {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .main-profile-con {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85vw;
  }

  .header-profile-con {
    width: 100%;
  }
  .recommed-users {
    width: 0vw;
  }
}

@media only screen and (max-width: 576px) {
  .main-profile-con {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
  }

  .header-profile-con {
    width: 100%;
  }
  .recommed-users {
    width: 0vw;
  }
}
