.headerOfPosts {
  display: flex;
  background-color: white;
  justify-content: space-between;
  border-radius: 30px 30px 0px 0px;
}

.userImg {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.post {
  display: flex;
  background-color: white;
  border-radius: 1rem;
  border: solid lightgray 1px;
  padding: 1vh 1vw;
  margin-bottom: 2vh;
}
.singlePost {
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  width: 100%;
}

.postText {
  background-color: white;
}

.postImg {
  width: 100%;
  height: auto;
  margin-right: 2vw;
  margin-bottom: 1vh;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 20px;
}

.postImgDiv {
  width: 95%;
  height: auto;
}

.headerText {
  margin-top: 1vh;
}

h3 {
  color: gray;
}

.textandimg {
  display: flex;
}

.dotdot {
  margin-right: 2vw;
}

.main-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #caccce48;
}

.main-profile-con {
  display: flex;
  width: 70vw;
}

.header-profile-con {
  width: 50vw;
}

.recommed-users {
  width: 20vw;
}

.newpostbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 20px;
  margin-left: 1vw;
  margin: 2vh 2vw;
}

.newpostbtn:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 20px;
  margin-left: 1vw;
  margin: 2vh 2vw;
  background-color: #0d6efd;
  color: white;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.modal-content {
    width: 50vw;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.15);

}

.modal-body-header-posts {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#mainpostcontent {
    width: 100%;
    border: 0px;
    margin-top: 1.5vh;
}

.modal-body {
    padding: 1vh 2vw;
}

.modal-post-text {
    margin: 0 2vw;
}

@media only screen and (max-width: 992px) {
  .main-profile-con {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 720px;
  }
  
  .header-profile-con {
    width: 100%;
  }
  .recommed-users {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .main-profile-con {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85vw;
  }
  
  .header-profile-con {
    width: 100%;
  }
  .recommed-users {
    width: 0vw;
  }
}

@media only screen and (max-width: 576px) {
  .main-profile-con {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
  }
  
  .header-profile-con {
    width: 100%;
  }
  .recommed-users {
    width: 0vw;
  }
}
