.rec-user {
    display: flex;
    margin: 5px 0;
}
.rec-user:hover {
    text-decoration: underline;
}
.rec-users-list {
    border: lightgray solid 1px;
    margin-top: 2.1vh;
    background-color: white;
    border-radius: 0.5rem;
    margin-left: 1vw;
    position: sticky;
    top: 7.5vh;
    padding: 5px 10px;
    height: 300px;
    overflow: hidden;
}
.rec-p {
    margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.rec-h5 {
    margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.rec-img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}


@media only screen and (max-width: 922px) {
    .rec-users-list {
        display: none;
    }
}