.rec-user {
    display: flex;

}
.rec-users-list {
    border: lightgray solid 1px;
    margin-top: 2vh;
    background-color: white;
    border-radius: 0.5rem;
    margin-left: 1vw;
    position: sticky;
    top: 7.3vh;
    padding-bottom: 0.5vh;
}
.rec-p {
    margin: 0;
}

.rec-h5 {
    margin-bottom: 0;
    margin-top: 0.5vh;
}

.rec-img {
    margin-top: 0.5vh;
    margin-left: 0.5vw;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}


@media only screen and (max-width: 922px) {
    .rec-users-list {
        display: none;
    }
}